/* You can add global styles to this file, and also import other style files */
.side-nav mdb-accordion-item-head h5  {
  font-size: 18px !important;
  font-weight: 400 !important;
}
.side-nav .collapsible .fas {
  font-size: 1.3rem !important;
  margin-right: 13px;
}
.side-nav .collapsible .card {
  padding: 10px !important;
}
