.height-card{
  height: 265px;
}

//.col-md-2-custom {
//  flex: 0 0 18.6666666667%;
//  max-width: 18.6666666667%;
//}
.float-right{
  align-self: flex-end;
  background: none;
  border: none;
  padding-top: 5px;
  padding-right: 10px;
}
