<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">

                <mdb-card class="testimonial-card text-center">
                    <mdb-card-header>
                        <p>Manage your library with our application</p>
                    </mdb-card-header>
                    <!--Bacground color-->
                    <div class="card-up white lighten-1">
                    </div>

                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img class="rounded-circle" src="/assets/images/login.png">
                    </div>

                    <mdb-card-body>
                        <p>
                            <button (click)="openModalLogin()" block="true" gradient="blue" mdbBtn rounded="true" type="button">Login</button>
                        </p>
                    </mdb-card-body>
                </mdb-card>

                <mdb-card class="testimonial-card text-center">
                    <!--Bacground color-->
                    <div class="card-up white lighten-1">
                    </div>

                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img class="rounded-circle" src="/assets/images/register.png">
                    </div>

                    <mdb-card-body>
                        <p>
                            <button (click)="openModalRegister()" block="true" gradient="blue" mdbBtn mdbWavesEffect rounded="true" type="button">
                                Register
                            </button>
                        </p>
                    </mdb-card-body>

                    <mdb-card-footer>
                        © 2020 Copyright: Chiriac Gabriel & Chiriac Ionut
                    </mdb-card-footer>

                </mdb-card>

            </div>
        </div>
        <div class="col-md-8 view">
            <img alt="Responsive image" class="img-fluid" src="/assets/images/LMS-background.png">
            <div class="mask flex-center rgba-blue-slight"></div>
        </div>
    </div>
</div>
